html, body{
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#a{
	margin-left: 50px;
	display: grid;
	margin-top: 15px;
}
#b{
	margin: 0px 50px 0px 10px;
	width: 336px;
	height: auto;
}
a:hover{
	text-decoration: none;
}
.thumbnail{
	padding: 0px;
	transition: all 0.4s ease;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.thumbnail:hover{
	transform: scale(1.02);
}
#c{
	background-color: orangered; 
	height: 90px; 
	width: 100%; 
	display: none;
}
#asd{
	height: 300px; 
	width: 320px; 
	padding-right: 15px;
}
.thumbnail img{
	border-radius: 3px 3px 0 0;
}
.clearfix img{
	border-radius: 3px 0 0 3px;
}
#btn{
	border-style: solid;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
#nomore{
	position: fixed;
    bottom: 10%;
    left: calc(50% - 82.5px);
    width: 165px;
    display: none;
}
.warnings{
	position: fixed;
    width: 160px;
    display: none;
	top: 10%;
    left: calc(50% - 190px);
    width: 380px;
}
#toggle{
	background-color: #f8f8f8;
}
@media screen and (max-width: 960px) {
	#b{
		display: none;
	}
	#a{
		display: block;
		margin-left: 0px;
	}
	#c{
		display: block;
	}
	#asd{
		height: auto;
		width: auto;
		padding-right: 0px;
	}
	#z{
		margin-top: 15px;
	}
}