body,html{
	height:100%;
	padding:0px;
	margin:0px;
}
#miCarousel{
	top: 50px;
}
#contenedorNoticias{
	margin-right: 350px;
	background-color: red;
}
#noticias{
	margin-top: 5%;
}
.thumbnail{
	padding: 0px;
}
#publicidad{
	height: 300px;
	width: 300px;
	background-color: red;
	position: absolute;
	right: 25px;
}

@media screen and (max-width: 960px) {
	#noticias{
		margin-right: 0px;
	}
}